*{
    font-family: 'Zilla Slab', serif;
    margin: 0;
}
body {
    background-color: #bababa;
}
.wrap {
    text-align: center;
    max-width: 1000px;
    margin: 7% auto 30px;
    padding: 50px;
    background-color: antiquewhite;
}
.quote-box {
    padding: 20px;
    background-color: aquamarine;
    margin: 30px auto 0;
    max-width: 700px;
    line-height: 1.5;
    font-size: 1.1rem;
}
div#person {
    margin-top: 20px;
}
#btn {
    margin-top: 30px;
    background-color: black;
    color: #fff;
    padding: 18px 50px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
}